.page-top {
  position: fixed;
  bottom: 50px;
  right: 30px;
}

.page-top button {
  background-color: #0f4c81;
  color: #fff;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 16px;
  cursor: pointer;
}
